In [34]:
#dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import mysql.connector
# import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
from config import username, password

In [35]:
# pip install pymysql - to get sqlalchemy to work

In [36]:
#check see if database exists, if not create database
#set up sqlalchemy to connect to database and grab session
engine = create_engine(f"mysql+pymysql://{username}:{password}@localhost/tractorTekSales")
try:
    conn = engine.connect()
    print("Successfully connected.")
except :
    print("puppydb does not exist, creating now.")
    mydb = mysql.connector.connect(
      host="localhost",
      user=f"{username}",
      password=f"{password}")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE DATABASE tractorTekSales")

Successfully connected.

In [56]:
#read in csv
tractor_sales = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "capstone_productSales")
product_info = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "product_table")
sales_team = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "sales_team")
date_table = pd.read_excel('static/data/capstone_data_complete.xlsx',sheet_name = "date_table")
product_info

,item_id,product_name,url,manufacturer,year,quarter,price,Unnamed: 7,Unnamed: 8,Unnamed: 9,quarter.1
0,PROD_006,ZT2000 Zero Turn Mower,https://www.bobcat.com/mowers/zero-turn-mowers...,Bobcat,2019,1,4575,NaN,NaN,NaN,2019Q1
1,PROD_005,UV34 Gas,https://www.bobcat.com/utility-products/utv/UV...,Bobcat,2019,1,13995,NaN,NaN,NaN,2019Q1
2,PROD_004,CT1021 Sub-Compact Tractor,https://www.bobcat.com/tractors/models/ct1021/...,Bobcat,2019,1,11385,NaN,NaN,NaN,2019Q1
3,PROD_007,S70 Skid Steer Loader,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat,2019,1,22987,NaN,NaN,NaN,2019Q1
4,PROD_002,CUV82,https://www.cat.com/en_US/products/new/equipme...,Cat,2019,1,14786,NaN,NaN,NaN,2019Q1
...,...,...,...,...,...,...,...,...,...,...,...
123,ESP_007,Warranty,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat,2020,4,1027,NaN,NaN,NaN,2020Q4
124,ESP_002,Warranty,https://www.cat.com/en_US/products/new/equipme...,Cat,2020,4,843,NaN,NaN,NaN,2020Q4
125,ESP_001,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,843,NaN,NaN,NaN,2020Q4
126,ESP_008,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,843,NaN,NaN,NaN,2020Q4
127,ESP_003,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,978,NaN,NaN,NaN,2020Q4

In [57]:
#drop unnecessary column from  calculations
product_info = product_info.drop(["Unnamed: 7", "Unnamed: 8","Unnamed: 9","quarter.1"], axis = 1)
product_info

,item_id,product_name,url,manufacturer,year,quarter,price
0,PROD_006,ZT2000 Zero Turn Mower,https://www.bobcat.com/mowers/zero-turn-mowers...,Bobcat,2019,1,4575
1,PROD_005,UV34 Gas,https://www.bobcat.com/utility-products/utv/UV...,Bobcat,2019,1,13995
2,PROD_004,CT1021 Sub-Compact Tractor,https://www.bobcat.com/tractors/models/ct1021/...,Bobcat,2019,1,11385
3,PROD_007,S70 Skid Steer Loader,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat,2019,1,22987
4,PROD_002,CUV82,https://www.cat.com/en_US/products/new/equipme...,Cat,2019,1,14786
...,...,...,...,...,...,...,...
123,ESP_007,Warranty,https://www.bobcat.com/loaders/skid-steer-load...,Bobcat,2020,4,1027
124,ESP_002,Warranty,https://www.cat.com/en_US/products/new/equipme...,Cat,2020,4,843
125,ESP_001,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,843
126,ESP_008,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,843
127,ESP_003,Warranty,https://e-marketing.deere.com/store/landpro-eq...,John Deere,2020,4,978

In [60]:
#drop unnecesary column
tractor_sales = tractor_sales.drop("weekx", axis = 1)
tractor_sales

      emp_id   item_id  year  week  quantity
0     EMP244  PROD_001  2020     1        42
1     EMP244  PROD_001  2020     2        48
2     EMP244  PROD_001  2020     3        38
3     EMP244  PROD_001  2020     4        43
4     EMP244  PROD_001  2020     5        35
...      ...       ...   ...   ...       ...
8315  EMP290   ESP_008  2020    48         0
8316  EMP290   ESP_008  2020    49         0
8317  EMP290   ESP_008  2020    50         0
8318  EMP290   ESP_008  2020    51         0
8319  EMP290   ESP_008  2020    52         0

[8320 rows x 5 columns]

In [26]:
#appends dataframe from excel to mysql if table exists and creates table if does not exist on tractorTekSales
#use once only if needed otherwise will get duplicate values
with engine.begin() as connection:
    sales_team.to_sql('sales_team', con=connection, if_exists='append', index = False)

In [43]:
#do this for date as well
with engine.begin() as connection:
    date_table.to_sql('date_dim', con=connection, if_exists='append', index = False)

In [53]:
#do this for product_info as well
with engine.begin() as connection:
    product_info.to_sql('product_info', con=connection, if_exists='append', index = False)

In [62]:
#do this for tractor_sales as well
with engine.begin() as connection:
    tractor_sales.to_sql('tractor_sales', con=connection, if_exists='append', index = False)

In [23]:
# #get info from sql
# puppydf = pd.read_sql("SELECT * FROM puppies",conn)
# ownerdf = pd.read_sql("SELECT * FROM owners",conn)
# #set index of both dataframes
# ownerdf = ownerdf.set_index('id')
# puppydf = puppydf.set_index('id')

In [26]:
# #number of columns per table
# puppydf_shape = puppydf.shape
# num_puppy_columns = puppydf_shape[1]
# num_puppy_rows = puppydf_shape[0]
# print(f'The number of columns in our puppy table is {num_puppy_columns}'+'\n'+'and they are {puppydf.columns.tolist()}')
# ownerdf_shape = ownerdf.shape
# num_owner_columns = ownerdf_shape[1]
# num_owner_columns = ownerdf_shape[0]
# print(f'The number of columns in our foster pawrent table is {num_owner_columns}'+'\n'+'and they are {ownerdf.columns.tolist()}.')

The number of columns in our puppy table is 5
and they are {puppydf.columns.tolist()}
The number of columns in our foster pawrent table is 11
and they are {ownerdf.columns.tolist()}.

In [27]:
# #group puppies by activity level and show the count of dogs of a certain activity level
# puppy_activity_count = puppydf.groupby(['activity_mode','size']).count()
# puppy_activity_count

                      name  age  breed
activity_mode size
couch potato  large      1    1      1
              medium     2    2      2
              small      1    1      1
hyper         large      1    1      1
              medium     2    2      2
              small      2    2      2
regular       large      2    2      2

In [28]:
# #this shows the age and number of dogs 
# puppy_age_count = puppydf.groupby(puppydf['age']).count()
# puppy_age_count

     name  size  breed  activity_mode
age
2       1     1      1              1
3       1     1      1              1
4       1     1      1              1
5       1     1      1              1
6       3     3      3              3
7       2     2      2              2
8       1     1      1              1
10      1     1      1              1

- Can do further correlation by finding relationship between ex: size and breed or size and age to see if there are similiarities there
- No group by analysis needed for owner since is only a one to one relationship and did not ask for more inforation from owner to do analysis

Section for batch load